@model IEnumerable<FlightTickets.Models.Answer>

@{
    ViewData["Title"] = "Index";
}
@{
    var processedQuestionIds = new HashSet<int>();
}

<h1>Frequently Asked Questions</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <p>
        <a asp-area="" asp-controller="Questions" asp-action="Create" class="create-button">Add question</a>
    </p>
}

@foreach (var item in Model)
{
    @if (processedQuestionIds.Contains(item.QuestionId)) continue;
    <tr>
        <td>
            @if (!processedQuestionIds.Contains(item.QuestionId))
            {
                <div class="card bg-light mb-8">
                    <p class="card-header">@Html.DisplayFor(modelItem => item.Question.AppUser) </p>
                    <p class="card-body">@Html.DisplayFor(modelItem => item.Question.Comment)
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-action="Create" asp-route-id="@item.Id" class="create-button">Add Answer</a>
                            <a asp-area="" asp-controller="Questions" asp-action="Delete" asp-route-id="@item.QuestionId" class="delete-button">Delete this comment</a>
                        }
                    </p>
                </div>
                processedQuestionIds.Add(item.QuestionId);
            }
        </td>
        <th>
            @if (item.Question.Answers != null)
            {
                foreach (var answer in item.Question.Answers)
                {
                    <div class="card answer">
                        <p class="card-header">@answer.AppUser</p>
                        <p class="card-body">@answer.Comment
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@answer.Id" class="delete-button">Delete</a>
                            }
                        </p>
                    </div>
                }
            }
            else
            {
                <li>No Questions</li>
            }
        </th>
    </tr>
    <br>
    <br>
}
